{{ define "content"}}
<h2 class="text-center mt-2">Login!</h2>
<form class="mt-2" hx-post="/auth/login" id="loginForm" hx-indicator="#spinner" hx-target="#toastBody" hx-swap="beforeend"
  hx-on::after-request="this.reset();handleToast()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <button type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
<div class="flex justify-content-center mt-2">
  <span> Don't have an account yet? <a href="/register">click here to create one!</a></span>
</div>
{{ end }}
